<section class="clothing-item-filter grid">
    <div class="styles-selection grid">
        <dynamic-style-input *ngFor="let style of styles; trackBy: trackByStyleFn" [filterBy]="filterBy" [style]="style"
            (select)="onSetStyle($event)">
        </dynamic-style-input>
    </div>
    <div class="type-selection">
        <label>Type</label>
        <select (change)="onSelectType($event)" name="clothing-item-type" id="clothing-item-type">
            <option *ngFor="let type of types; trackBy: trackByTypeFn" [value]="type">{{type || 'choose'}}</option>
        </select>
    </div>
</section>