@mixin buttons1 {
    background-color: var(--white);
    border-bottom: 5px solid var(--primary-clr2);
    color: var(--text);
    cursor: pointer;

    &:hover {
        background-color: #f5f5f5;
        border-bottom: var(--primary-clr1) 5px solid;
        font-family: fira-reg, Tahoma;
    }

    &:active {
        background-color: var(--text);
        color: var(--white);
    }
}

@mixin input1 {
    padding: .5em;
    position: absolute;
    width: 100%;

    &:focus {
        outline: none;
        border-bottom: 5px solid var(--primary-clr2);

    }

    &::placeholder {
        color: var(--text);
    }
}