@font-face {
    font-family: jersey;
    src: url("../../fonts/Jersey15-Regular.ttf");
}

@font-face {
    font-family: cp-bold;
    src: url('../../fonts/CourierPrime-Bold.ttf');
}

@font-face {
    font-family: cp-bold-italic;
    src: url('../../fonts/CourierPrime-BoldItalic.ttf');
}

@font-face {
    font-family: cp-reg;
    src: url('../../fonts/CourierPrime-Regular.ttf');
}

@font-face {
    font-family: cp-italic;
    src: url('../../fonts/CourierPrime-Italic.ttf');
}

@font-face {
    font-family: fa-solid;
    src: url('../../fonts/fa-solid-900.ttf');
}