@font-face {
    font-family: fira-light;
    src: url('../../fonts/FiraSans-Light.ttf');
}

@font-face {
    font-family: fira-reg;
    src: url('../../fonts/FiraSans-Regular.ttf');
}
@font-face {
    font-family: cp-italic;
    src: url('../../fonts/CourierPrime-Italic.ttf');
}

@font-face {
    font-family: fa-solid;
    src: url('../../fonts/fa-solid-900.ttf');
}

@font-face {
    font-family: fa-brands;
    src: url('../../fonts/fa-brands-400.ttf');
}