<section class="order-payment grid">
    <span class="back" routerLink="/order">Back to cart</span>
    <h1>Payment</h1>
    <h2>Sum to pay: <span>${{this.user.recentOrder!.sum}}</span></h2>
    <form class="grid" [formGroup]="paymentForm" (ngSubmit)="onCompletePayment()">
        <label for="fullName">Full name</label>
        <input formControlName="fullName" id="fullName" placeholder="Full name"/>
        <label for="email">Email</label>
        <input formControlName="email" id="email" placeholder="Email" />
        <label for="address">Address</label>
        <input formControlName="address" id="address" placeholder="Address" />
        <label>Phone</label>
        <input formControlName="phone" type="tel" id="phone" placeholder="Phone"/>
        <button class="subscription-btn">Order</button>
    </form>
</section>