@import '../../../assets/style/setup/mixins';

:host {
    grid-column: 1 / -1;

    .app-header {

        .discount-alert {
            background-color: var(--primary-clr1);
            text-align: center;
            padding: .5rem;
            font-size: .8em;
            font-family: fira-reg, Tahoma;
            opacity: 0.8;
        }

        .buttons-logo-container {
            position: relative;
            background-color: var(--white);
            display: grid;
            grid-template-columns: 1fr 2fr 3fr 1fr;
            padding-block: 2rem;
            gap: 24px;

            .logo {
                font-family: jersey, Tahoma;
                text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
                font-size: 2.8em;
                padding-inline-start: 1rem;
                cursor: pointer;
            }

            form {
                position: relative;

                input {
                    @include input1;
                    padding: 0.7em;
                }

                .search-btn {
                    border: none;
                    position: absolute;
                    right: .3rem;
                    margin-inline-end: 0.7em;

                    &:hover {
                        background-color: var(--white);
                    }

                    &::before {
                        content: "\f002";
                        font-family: fa-solid;
                        font-weight: lighter;
                    }
                }
            }

            .buttons-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: .5rem;

                button {
                    @include buttons1;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    :host {

        .app-header {

            .buttons-logo-container {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);

                .logo, form {
                    padding-inline-start: 1rem;
                }

                .buttons-container {
                    padding-inline-end: 1rem;
                }

                form {

                    input {
                        @include input1;
                        padding: 0.3em;
                    }

                    .search-btn {
                        right: 0;
                        margin-inline-end: 0;
                    }
                }
            }
        }
    }
}