<section class="app-header">
    <div class="discount-alert" *ngIf="discount.isDiscount">{{discount.sumOfDiscount}}% off everything! Hurry up!</div>
    <div class="buttons-logo-container grid">
        <div routerLink="/" class="logo flex center">Manook</div>
        <button routerLink="clothing-item" class="women-btn">Women</button>
        <button routerLink="clothing-item" class="men-btn">Men</button>
        <form class="flex align-center">
            <input type="text"
             [(ngModel)]="filterBy.name"
              (ngModelChange)="onSetFilter($event)"
               placeholder="What are we buying today?"
               name="term" />
            <button class="search-btn"></button>
        </form>

        <login-signup></login-signup>
    </div>

</section>