.home-clothing-item-preview {
    grid-auto-flow: column;

    .clothing-item {
        color: var(--text);
        grid-auto-flow: row;
        max-width: 20vw;

        img {
            object-fit: cover;
            max-width: 100%;
            height: 350px;
        }
    }
}