:host {
    grid-column: 2;

    .home-clothing-item-preview {
        grid-auto-flow: column;

        .clothing-item {
            color: var(--text);
            grid-auto-flow: row;
            max-width: 100%;

            img {
                object-fit: cover;
                max-width: 100%;
            }
        }
    }
}