:host {

    .home-clothing-item-preview {
        grid-auto-flow: column;
        gap: .5rem;
        justify-content: space-between;

        .clothing-item {
            color: var(--text);
            grid-auto-flow: row;
            justify-items: center;
            max-width: 350px;
            gap: .3rem;

            h1, .price {
                font-size: 1.25em;
            }
            
            h1 {
                font-family: fira-reg, Tahoma;
                margin-block: .5em;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 320px;
                display: block;
                cursor: pointer;
            }

            .price {
                font-family: fira-reg, Tahoma;
                margin-block: .5em;
            }
        }
    }
}