.disconnected-user {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    z-index: 12;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    button {
        position: absolute;
        z-index: 15;
        top: 0;
        left: 6px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-family: fira-reg, Tahoma;
    }
}