.footer {
    grid-template-rows: 1fr;

    pre {
        grid-row: 1;

        .logo-in-footer {
            font-family: jersey, Tahoma;
            font-size: 1.5em;
        }

        .github-icon::before {
            content: "\f09b";
            font-family: fa-brands;
            cursor: pointer;
        }

        .github-icon:hover::before {
            color: var(--primary-clr2);
        }
    }
}