:host {
    display: grid;
    grid-template-columns: minmax(20px, 2%) 1fr minmax(20px, 2%);
    height: 100vh;

    app-header {
        grid-column: 1 / -1;
    }

    .main-app {
        grid-column: 2;
    }

    app-footer {
        grid-column: 1 / -1;
        align-self: self-end;
    }
} 