<article class="clothing-item grid">
    <img [src]="clothingItem.imgUrl || clothingItem.imgUrl[0]">
    <h1>{{clothingItem.name}}</h1>
    <p>{{clothingItem.desc}}</p>
    <h3>${{clothingItem.price}}</h3>
    <div class="user-actions grid">
        <span class="cart" (click)="onAddItemToCart()"></span>
        <span class="wishlist" (click)="onAddItemToWishlist()"></span>
        <span *ngIf="user && user.isAdmin" class="deletion" (click)="onRemoveItem()"></span>
        <span class="details" routerLink="{{ clothingItem._id }}"></span>
    </div>
</article>

