<section class="user-wishlist" *ngIf="user">
    <h1 class="wishlist-header">Wishlist</h1>
    <p class="no-items" *ngIf="!user.wishlist.length">No items added to wishlist.</p>
    <ul *ngIf="user.wishlist.length" class="wishlist-items grid">
        <li *ngFor="let item of user!.wishlist" class="wishlist-item grid">
            <img [src]="item.imgUrl || item.imgUrl[0]" [alt]="item.name" [title]="item.name" />
            <div class="text grid">
                <h2>{{item.name}}</h2>
                <p>${{item.price}}</p>
            </div>          
            <div class="user-actions grid">      
            <button (click)="onRemoveItemFromWishlist(item)" class="remove">Remove</button>
            <button (click)="onAddItemToCart(item)">Purchase</button>
            </div>
        </li>
    </ul>
</section>