<section class="user-details grid justify-center">
    <h1>My Profile</h1>
    <form [formGroup]="userForm" *ngIf="isEditMode" class="user-form flex column">
        <label for="fullName">Full name</label>
        <input formControlName="fullName" placeholder="Your fullname" id="fullName" />
        <label for="gender">Gender</label>
        <select formControlName="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <label for="password">Password</label>
        <input type="password" formControlName="password" placeholder="Your password" id="password" />
        <label for="email">Email</label>
        <input formControlName="email" placeholder="Your email" id="email" />
        <div class="newsletter flex">
            <label for="isSubscribed">Are you subscribed to our newsletter?</label>
            <input type="checkbox" id="subscription" formControlName="isSubscribed" />
        </div>
    </form>
    <div class="user-details-locked flex column" *ngIf="!isEditMode">
        <label for="fullName">Full name</label>
        <p>{{user.fullName}}</p>
        <label for="gender">Gender</label>
        <p>{{user.gender}}</p>
        <label for="password">Password</label>
        <input type="password" [value]="user.password" id="password" disabled />
        <label for="email">Email</label>
        <p>{{user.email}}</p>
        <div class="newsletter flex">
            <label for="isSubscribed">Are you subscribed to our newsletter?</label>
            <input type="checkbox" [value]="user.isSubscribed" disabled />
        </div>
    </div>
    <section class="user-orders" *ngIf="user.orders.length">
        <order-list [orders]="user.orders"></order-list>
    </section>
    <button (click)="onModifyUser(isEditMode ? 'save' : 'edit')" class="edit-btn">
        {{ isEditMode ? 'Save' : 'Edit' }}
    </button>
    <button *ngIf="isEditMode" class="cancel-btn" (click)="onModifyUser('cancel')">Cancel</button>
</section>