<section class="login-signup grid align-center">
    <div class="layout" *ngIf="sectionClicked !== 'none'" (click)="onCloseModal()"></div>
    <span class="user" (click)="onActionClick('user')"></span>
    <div class="user-login-signup grid" *ngIf="sectionClicked === 'user'">
        <button class="close-btn" (click)="onCloseModal()">x</button>
        <div class="logged-in-user grid" *ngIf="loggedInUser">
            <h1>Hey {{loggedInUser.fullName}}! <br /> You have {{loggedInUser.coins}} coins.</h1>
            <button (click)="onLogout()">Logout</button>
        </div>
        <div class="login-info grid" *ngIf="!loggedInUser">
            <button class="guest-btn" (click)="onGuestClick()">Continue as Guest</button>
            <input type="text" placeholder="Username" [(ngModel)]="user.username">
            <input type="password" placeholder="Password" [(ngModel)]="user.password" />
            <button class="login-btn" (click)="onLogin()">Login</button>
        </div>
        <div class="sign-up-info grid" *ngIf="!loggedInUser">
            <h3>New here? <br /> Let's sign up real quick!</h3>
            <button routerLink="signup" class="signup-btn" (click)="onActionClick('none')">Sign-up</button>
        </div>
    </div>
    <span class="wishlist" 
    (mouseover)="onActionClick('wishlist')"
    ></span>
    <div class="user-wishlist" *ngIf="loggedInUser && sectionClicked === 'wishlist'" (mouseleave)="onCloseModal()">
        <button (click)="onCloseModal()" class="close-btn">x</button>
        <h1 class="wishlist-header">Wishlist</h1>
        <div class="no-items" *ngIf="!loggedInUser.wishlist.length">No items added to wishlist.</div>
        <ul *ngIf="loggedInUser.wishlist.length" class="wishlist-items grid">
            <li *ngFor="let item of previewWishlist; trackBy: trackByFn" class="wishlist-item grid">
                <img [src]="item.imgUrl || item.imgUrl[0]" [alt]="item.name" [title]="item.name" />
                <div class="text grid">
                    <h2>{{item.name}}</h2>
                    <p>${{item.price}}</p>
                    <button (click)="onRemoveItemFromList(item, 'wishlist')" class="remove">Remove</button>
                </div>
            </li>
        </ul>
    </div>
    <span class="cart" routerLink="order" (click)="onActionClick('cart')"></span>
    <!-- <div class="user-cart" *ngIf="loggedInUser && sectionClicked === 'cart'">
        <button (click)="onCloseModal()" class="close-btn">x</button>
        <h1 class="cart-header">Cart</h1>
        <div class="no-items" *ngIf="!loggedInUser.recentOrder">No items added to order.</div>
        <ul class="cart-items grid" *ngIf="loggedInUser.recentOrder && loggedInUser.recentOrder.selectedItems.length">
            <li *ngFor="let item of loggedInUser.recentOrder.selectedItems" class="cart-item grid">
                <img [src]="item.imgUrl || item.imgUrl[0]" [alt]="item.name" [title]="item.name" />
                <div class="text grid">
                    <h2>{{item.name}}</h2>
                    <p>${{item.price}}</p>
                    <button (click)="onRemoveItemFromWishlist(item._id)" class="remove">Remove</button>
                </div>
            </li>
            <div class="cart-summary">
                <h1>Sum: {{loggedInUser.recentOrder!.sum}}</h1>
                <button>Checkout</button>
            </div>
        </ul>
    </div> -->
</section>

<disconnected-user *ngIf="disconnectedUserClicked" (close)="closeMsg($event)">
</disconnected-user>