@import '../../../assets/style/setup/mixins';

.login-signup {
    grid-auto-flow: column;
    height: 100%;
    justify-content: space-evenly;

    .close-btn {
        position: absolute;
        left: 6px;
        top: 6px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 14;
        font-family: fira-reg, Tahoma;
    }

    .user-login-signup,
    .user-wishlist,
    .user-order {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        background-color: var(--white);
        padding: 1rem;
        border-radius: .5rem;
        position: absolute;
    }

    span::before {
        font-family: fa-solid;
        color: var(--primary-clr2);
        cursor: pointer;
    }

    span:hover::before {
        color: var(--primary-clr1);
    }

    .user::before {
        content: '\f007';
    }

    .wishlist::before {
        content: '\f004';
    }

    .order::before {
        content: '\f07a';
    }

    .layout {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        opacity: 0.7;
        background-color: var(--primary-clr1);
    }

    .user-login-signup {
        grid-auto-flow: row;
        z-index: 10;
        top: 50vh;
        left: 50%;
        transform: translate(-50%, -50%);

        input {
            @include input1;
            position: static;
        }



        button:not(.close-btn) {
            @include buttons1;
            width: max-content;
            padding: .3em;
        }

        .login-info,
        .sign-up-info,
        .logged-in-user {
            grid-auto-flow: row;
            justify-content: center;
            justify-items: center;
        }

        .login-info {
            position: relative;
            gap: 8px;

            margin-block-end: 1rem;

            .login-btn {
                text-align: center;
            }

            .guest-btn {
                background-color: transparent;
                border: none;
                cursor: pointer;

                &:hover {
                    color: var(--primary-clr2);
                }
            }

        }

        .logged-in-user>*,
        .sign-up-info h3 {
            text-align: center;
            line-height: 1.5em;
        }

        .logged-in-user {

            h1 {
                margin-block-start: 8px;
            }

            .user-fullname {
                cursor: pointer;
                font-family: fira-reg, Tahoma;
            }
        }
    }
}