/* You can add global styles to this file, and also import other style files */

@import './assets/style/setup/typography';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cp-reg, 'Courier New', Courier, monospace;
}