@import '../../../assets/style/setup/mixins';

.user-signup {

    .signup-form,
    .subscription-container {
        gap: .5rem;
    }

    .signup-form {
        grid-auto-flow: row;

        label {
            text-align: center;
        }

        input {
            @include input1;
            position: static;
        }

        .subscription-btn {
            @include buttons2;
        }
    }

    .subscription-container {
        grid-auto-flow: column;
    }
}