@import '../../../assets/style/setup/mixins';

.user-signup {

    .signup-form,
    .subscription-container {
        gap: 1rem;
    }

    h1 {
        font-size: 24px;
        text-align: center;
        margin-block: 1rem 1.5em;
    }

    .signup-form {
        grid-auto-flow: row;

        input {
            @include input1;
            position: static;
        }

        select {
         padding: .5rem;   
        }

        .subscription-btn {
            @include buttons2;
            padding: 1rem;
            width: max-content;
            justify-self: center;
            margin-block-start: 1rem;
        }
    }

    .subscription-container {
        grid-auto-flow: column;
    }
}