<section class="user-signup">
    <h1>Create an account</h1>
    <form [formGroup]="signupForm" class="signup-form grid center" (ngSubmit)="onSubmitSignup($event)" [formGroup]="signupForm">
        <label for="fullname" >Full name</label>
        <input type="text" id="fullname" formControlName="fullName" placeholder="Full name"/>
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" placeholder="Username"  />
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="Password" />
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" placeholder="Email" />
        <label for="email">Gender</label>
        <select id="gender" formControlName="gender" >
            <option value="male">Male</option>
            <option value="woman">Woman</option>
            <option value="other">Other</option>
        </select>
        <div class="subscription-container grid">
            <label for="subscription">Do you wish to subscribe to our newsletter?</label>
            <input type="checkbox" id="subscription" formControlName="isSubscribed" />
        </div>
        <button class="subscription-btn">Submit</button>
    </form>
</section>