<section class="clothing-item-details grid" *ngIf="clothingItem$ | async as clothingItem">
    <img [src]="clothingItem.imgUrl" [alt]="clothingItem.name"/>
    <h1>{{clothingItem.name}}</h1>
    <h3 class="gender">{{clothingItem.gender}}</h3>
    <h3 *ngIf="clothingItem.stock < 4">{{clothingItem.stock}} left</h3>
    <p class="style">Main style: <span>{{clothingItem.style[0]}}</span></p>
    <p class="type">{{clothingItem.type}}</p>
    <p>{{clothingItem.desc}}</p>
    <h3 class="price">${{clothingItem.price}}</h3>
</section>