@import '../../../assets/style/setup/mixins';
$_red: rgb(180, 0, 0);

.clothing-item-details {
    padding-inline: 120px;
    grid-auto-flow: row;
    justify-items: center;
    gap: 1rem;

    img {
        margin-block-start: 32px;
    }

    .stock {
        color: $_red;
        font-family: fira-reg, Tahoma;
    }

    h1 {
        font-size: 3em;
        margin-block: 32px 20px;
    }

    .gender,
    .style>span,
    .type {
        text-transform: capitalize;
    }

    .price {
        font-size: 1.5em;
        margin-block-start: 1rem;
    }

    .user-actions {
        grid-template-rows: 1fr;
        gap: 1rem;

        &>* {
            grid-row: 1;
        }

        .add-item-btn {
            @include buttons2;
            padding: 1em;
            margin-block-start: 24px;
        }
    }

}